@mixin box {
	background: #242424;

	margin: 0 0 $margin;
	padding: 25px;

	border: 1px solid #353535;

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	> p:last-of-type {
		margin-bottom: 0;
	}
}

@mixin social-icons {
	$sites: facebook, twitter, instagram, linkedin, snapchat;
	$icons: $fa-var-facebook, $fa-var-twitter, $fa-var-instagram, $fa-var-linkedin, $fa-var-snapchat;

	@for $i from 1 through length($sites) {
		a[href^="http://#{nth($sites, $i)}.com"], 
		a[href^="https://#{nth($sites, $i)}.com"], 
		a[href^="http://www.#{nth($sites, $i)}.com"], 
		a[href^="https://www.#{nth($sites, $i)}.com"], 
		&[href^="http://#{nth($sites, $i)}.com"], 
		&[href^="https://#{nth($sites, $i)}.com"], 
		&[href^="http://www.#{nth($sites, $i)}.com"], 
		&[href^="https://www.#{nth($sites, $i)}.com"] {
			@include icon(nth($icons, $i));
			@include icon-only;

			display: inline-block;
			width: 28px;
			height: 28px;

			line-height: 28px;
			text-align: center;

			border: 2px solid $gray-color;
			border-radius: 100%;
		}
	}
}
