$fa-var-camera: "\e800";
$fa-var-instagramm: "\e801";
$fa-var-facebook: "\e802";
$fa-var-twitter: "\e803";
$fa-var-youtube: "\e804";
$fa-var-down-open: "\e805";
$fa-var-left-open: "\e806";
$fa-var-right-open: "\e807";
$fa-var-up-open: "\e808";
$fa-var-angle-circled-right: "\e809";
$fa-var-angle-circled-left: "\e80a";
$fa-var-angle-circled-up: "\e80b";
$fa-var-angle-circled-down: "\e80c";
