#hero {
	background: #727477;

	padding-top: 0;
	padding-bottom: 0;

	position: relative;
	overflow: hidden;

	@media #{$bp-4-max} {
		padding: 0;
	}

	// Background shape
/*	&:before {
		content: "";

		width: 0;
		height: 0;
		border-left: 900px solid transparent;
		border-right: 900px solid transparent;
		border-bottom: 300px solid #8e8f92;

		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	} */

	// Remove default section margin when they're inside the hero
	> section {
		margin: 0;
	}
}
